*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #282c37; }
  @media only screen and (max-width: 93.75em) {
    html {
      background-color: transparent; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 26.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  color: #303646;
  font-weight: 300;
  line-height: 1.6; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-lg {
  margin-bottom: 3rem; }

.mb-hg {
  margin-bottom: 4rem; }

.center-text {
  text-align: center; }

.heading-1,
.heading-3,
.heading-4 {
  color: #30A9DE;
  font-weight: 300; }

.heading-1 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 3.2rem; }

.heading-2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 3.8rem; }

.heading-3 {
  font-size: 4rem; }

.heading-4 {
  color: #303646;
  font-size: 2.4rem;
  font-weight: 400; }

.heading-5 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: .8rem;
  margin-top: .8rem; }

.white-text {
  color: #f9f7f6; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  transition: all .2s; }

.btn--big {
  background-color: #282c37;
  color: #f9f7f6;
  font-weight: 300;
  font-size: 1.8rem;
  padding: 1.5rem 10rem;
  display: block;
  text-align: center; }

.btn--big:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--big:active, .btn--big:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--small:link, .btn--small:visited {
  font-size: 1.6rem;
  font-weight: 400;
  color: #30A9DE;
  border-bottom: 1px solid transparent; }

.btn--small:hover {
  border-bottom: 1px solid #30A9DE; }

.cards {
  background-color: #E0E3DA;
  grid-column: full-start / full-end;
  padding: 3.2rem 7.2rem; }
  @media only screen and (max-width: 37.5em) {
    .cards {
      padding: 3.2rem; } }
  .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .cards__container {
        grid-template-columns: 1fr; } }

.card {
  background-color: #f9f7f6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
  transition: all .3s; }
  .card:hover {
    transform: scale(1.03); }
  .card__img {
    width: 100%;
    height: auto; }
  .card__content {
    padding: 1.6rem 1.6rem 2.4rem 1.6rem;
    color: #282c37; }
  .card__text {
    font-size: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .card__img, .card__h5, .card__text {
      display: none; } }

.footer {
  background-color: #282c37;
  grid-column: full-start / full-end;
  padding: 1.6rem 2.4rem 3.4rem 2.4rem;
  display: flex; }
  .footer__copyright {
    margin-right: auto;
    color: #f9f7f6;
    font-size: 1.3rem; }
  .footer__list {
    list-style: none;
    font-size: 1.3rem;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        display: none; } }
  .footer__item:not(:last-child) {
    margin-right: 1.6rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #30A9DE;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #f9f7f6; }

.container {
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
  grid-template-rows: repeat(6, min-content); }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 100vw; } }

.header-picture {
  background-color: #E0E3DA;
  padding: 3.2rem 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .header-picture {
      padding: 3.2rem 2.4rem 0 2.4rem;
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 37.5em) {
    .header-picture {
      padding: 0; } }
  .header-picture img {
    width: 100%;
    background-size: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.header-content {
  background-color: #E0E3DA;
  padding: 2rem 25% 2rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-width: 56.25em) {
    .header-content {
      grid-column: full-start / full-end;
      padding: 5%; } }
  @media only screen and (max-width: 37.5em) {
    .header-content__btn {
      align-self: stretch; } }

.info {
  background-color: #f9f7f6;
  border-left: 1px solid #E0E3DA;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 3px; }
  @media only screen and (max-width: 56.25em) {
    .info {
      grid-column: full-start / full-end;
      grid-row: 4 / 5; } }

.info-block {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: .35fr .65fr;
  grid-column-gap: 8%;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .info-block {
      padding: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .info-block {
      grid-template-columns: 1fr;
      padding: 1.6rem; } }
  .info-block:first-child {
    border-bottom: 1px solid #E0E3DA; }
  .info-block:nth-child(2) {
    border-top: 1px solid #E0E3DA; }
  .info-block:last-child {
    background-color: #282c37; }
  .info-block__img {
    width: 100%;
    height: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .info-block__content {
      padding: 2rem; } }
  .info-block__description {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .info-block--color {
    background-color: #282c37; }

.nav {
  grid-column: full-start / full-end;
  padding: 1.6rem 2.4rem;
  position: sticky;
  top: 0;
  background-color: rgba(249, 247, 246, 0.95);
  z-index: 10;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      padding: 0;
      height: 6.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .nav--desktop {
      display: none; } }
  .nav--mobile {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav--mobile {
        display: flex;
        align-items: center;
        justify-content: space-around; } }
  .nav__logo-link {
    text-decoration: none;
    display: flex;
    align-items: center; }
  .nav__logo {
    height: 3.2rem;
    width: auto; }
  .nav__name {
    font-size: 2.4rem;
    text-transform: uppercase; }
  .nav__name--bold {
    font-weight: 700;
    color: #282c37; }
    @media only screen and (max-width: 37.5em) {
      .nav__name--bold {
        display: none; } }
  .nav__name--thin {
    font-weight: 300;
    color: #aaa; }
    @media only screen and (max-width: 37.5em) {
      .nav__name--thin {
        display: none; } }
  .nav__list {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    margin-left: auto; }
  @media only screen and (max-width: 37.5em) {
    .nav__item {
      display: flex;
      align-items: center; } }
  .nav__item:not(:last-child) {
    margin-right: 1.6rem; }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #30A9DE;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    color: #282c37; }
  .nav__mobile-icon {
    height: 3.2rem;
    width: auto; }

.practice {
  background-color: #f9f7f6;
  padding: 3.2rem 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .practice {
      display: none; } }
  .practice__img {
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 3.2rem; }
  .practice__text {
    margin-bottom: 2.5rem;
    font-size: 1.6rem; }
  .practice__name {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4rem;
    font-weight: 400; }

.thesis {
  grid-column: full-start / full-end;
  background-color: #f9f7f6;
  padding: 3.2rem 1rem 3.2rem 2.4rem; }
  @media only screen and (max-width: 37.5em) {
    .thesis {
      padding: 3.2rem 0 2.4rem 0; } }
  .thesis__container {
    display: grid;
    grid-template-columns: .6fr .4fr; }
  .thesis__video-section {
    padding-right: 2.4rem; }
    @media only screen and (max-width: 56.25em) {
      .thesis__video-section {
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 37.5em) {
      .thesis__video-section {
        padding-right: 0; } }
  .thesis__video {
    width: 100%;
    margin-bottom: 2.4rem; }
  .thesis__quote {
    font-size: 1.6rem;
    margin-top: .8rem; }
  @media only screen and (max-width: 37.5em) {
    .thesis__h4, .thesis__quote {
      display: none; } }
  @media only screen and (max-width: 56.25em) {
    .thesis__content-section {
      display: none; } }
  .thesis__item {
    padding: 1.6rem;
    display: grid;
    grid-template-columns: .35fr .65fr;
    align-items: center; }
    .thesis__item:first-child {
      background-color: #282c37; }
  .thesis__img {
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .thesis__text {
    padding: 2.2rem;
    display: grid;
    align-content: center; }
  .thesis__description {
    font-size: 1.6rem; }
