// COLOR VARIABLES
$color-primary: #282c37;
$color-primary-light: #303646;

$color-secondary: #30A9DE;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #E0E3DA;
$color-grey-light-3: #aaa;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;
$font-display: 'Source Sans Pro', sans-serif;

// FONT
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-1200: 75em; // 1200px
$bp-900: 56.25em; // 900px
$bp-600: 37.5em; // 600px


/*
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
*/