.cards {
    background-color: $color-grey-light-2;
    grid-column: full-start / full-end;
    padding: 3.2rem 7.2rem;

    @media only screen and (max-width: $bp-600) {
        padding: 3.2rem 
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 3.2rem;

        @media only screen and (max-width: $bp-600) {
            grid-template-columns: 1fr;
        }
    }
}

.card {
    background-color: $color-grey-light-1;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none;
    transition: all .3s;

    &:hover {
        transform: scale(1.03);
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__content {
        padding: 1.6rem 1.6rem 2.4rem 1.6rem;
        color: $color-primary;
    }

    &__text {
        font-size: $default-font-size;
    }

    &__img,
    &__h5,
    &__text {
        @media only screen and (max-width: $bp-600) {
            display: none;
        }
    }
}