*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    background-color: $color-primary;

    @media only screen and (max-width: $bp-1200) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-900) {
        font-size: 62.5%;
    }
}

.mb-sm { margin-bottom: 1rem; }
.mb-md { margin-bottom: 2rem; }
.mb-lg { margin-bottom: 3rem; }
.mb-hg { margin-bottom: 4rem; }

.center-text { text-align: center; }