*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    background-color: $color-primary;

    @media only screen and (max-width: $bp-1500) {
        background-color: transparent;
    }

    @media only screen and (max-width: $bp-1200) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-900) {
        font-size: 62.5%;
    }

    @media only screen and (max-width: $bp-420) {
        font-size: 50%;
    }
}

