// COLOR VARIABLES
$color-primary: #282c37;
$color-primary-light: #303646;
$color-primary-lighter: #bec8e4;

$color-secondary: #30A9DE;
$color-secondary-light: #b9e3f5;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #E0E3DA;
$color-grey-light-3: #aaa;

$color-grey-dark-1: #484a50;
$color-grey-dark-2: #383A3F;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;
$font-display: 'Source Sans Pro', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}

.mb-sm { margin-bottom: 1rem; }
.mb-md { margin-bottom: 2rem; }
.mb-lg { margin-bottom: 3rem; }
.mb-hg { margin-bottom: 4rem; }

.center-text { text-align: center; }